/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

/* FONTS */

@font-face {
  font-family: "Fraktion sans";
  src: url("./fonts/FraktionSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Fraktion sans";
  src: url("./fonts/FraktionSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Fraktion sans";
  src: url("./fonts/FraktionSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Fraktion sans";
  src: url("./fonts/FraktionSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

/*General Setup*/
:root {
  --font-family: "Roboto", sans-serif;
  --heading-family: "Fraktion sans", sans-serif;
  --text: #333;
  --text-dark: #252525;
  --primary: #ed3237;
  --primary-dark: #544af4;
  --line: #efefef;
  --bg: #fff;
  --bg-alt: #fdfdfd;
  --bg-line: rgba(0, 0, 0, 0.2);
  --bg-container: #f4f5ff;
  --w-bg: rgba(233, 235, 254, 0.969);
  --footer-bg: #252525;
  --radius: 4px;
  --weight-normal: 400;
  --weight-semi: 700;
  --weight-bold: 900;
  --container: 80%;
  --card-bg: #f9f9f9;
  --container-max: 1356px;
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body.dark-theme {
  --text: #fff;
  --text-dark: #fdfdfd;
  --bg-line: rgba(250, 250, 250, 0.2);
  --bg: rgb(32, 32, 32);
  --bg-container: #202020;
  --card-bg: #282828;
  --w-bg: rgba(31, 31, 31, 2);
  --footer-bg: #252525;
  --box-shadow: 0 10px 15px -3px rgba(250, 250, 250, 0.1),
    0 4px 6px -2px rgba(250, 250, 250, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all 0.4s ease-in-out;
}

*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  font-weight: 400;
  font-family: var(--font-family);
  background-color: var(--bg);
  box-sizing: border-box;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.section__title {
  text-align: center;
}

.change-theme {
  color: var(--text);
  font-size: 1rem;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0rem 7rem;
}

.header::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: var(--bg-line);
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--text-dark);
  text-transform: uppercase;
  margin: 1rem auto;
}

.header__box-02 {
  text-align: center;
}

.header__ul {
  line-height: 60px;
}

.header__li {
  position: relative;
  display: inline-block;
  margin: 0 1.5rem;
}

.header__link {
  font-size: 1rem;
  color: var(--text);
  font-family: var(--heading-family);
  font-weight: 700;
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.header__link:hover {
  color: var(--primary);
}

.header__link:hover::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -22px;
  left: 0%;
  background-color: var(--primary);
}

.header__active {
  color: var(--primary);
}

/*Dropdown*/
.header__dropdown {
  position: absolute;
  margin: 0;
  padding: 0;
  background: none;
  width: 200px;
  left: 0;
  visibility: hidden;
  box-shadow: var(--box-shadow);
}

.header__dropdown-li {
  background-color: var(--text-dark);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header__dropdown-link {
  height: 35px;
  line-height: 35px;
  color: var(--bg);
  font-family: var(--heading-family);
  font-size: 1rem;
  transition: all 0.4s ease-in-out;
}

.header__dropdown-link:hover {
  color: var(--primary);
}

.header__dropdown-li:nth-child(odd) {
  -webkit-transform: translate(100px);
  -ms-transform: translate(100px);
  transform: translate(100px);
}

.header__dropdown-li:nth-child(even) {
  -webkit-transform: translate(-100px);
  -ms-transform: translate(-100px);
  transform: translate(-100px);
}

.header__li:hover .header__dropdown {
  visibility: visible;
}

.header__li:hover .header__dropdown-li {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

/* +++++++ For Mobile ++++++++++ */
#nav-icon2 {
  width: 30px;
  height: 100%;
  position: relative;
  margin: 1rem auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: var(--text-dark);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 9px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 18px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 2px;
  top: 5px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 2px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 2px;
  top: 17px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 2px);
  top: 17px;
}


/* Styling For Menu Mobile */
.menu {
  width: 100%;
  position: absolute;
  top: 9%;
  left: 0%;
  z-index: 1500;
  display: flex;
  justify-content: center;
  background-color: var(--bg);
  visibility: hidden;
  transform: translateY(-120%);
  box-shadow: var(--box-shadow);
}

.show__menu {
  visibility: visible;
  transform: translateY(0);
}

/* Menu Accordion */
.menu,
.menu__accordion {
  display: block;
  min-width: 100%;
  background-color: var(--bg);
  color: var(--text-dark);
  cursor: pointer;
  padding: 1rem;
  border: 1px solid var(--bg-line);
  text-align: left;
  outline: none;
  font-size: 1rem;
  font-family: var(--heading-family);
  font-weight: 700;
  transition: all 0.4s ease-out;
  box-shadow: var(--box-shadow);
}

.menu__accordion:first-child {
  border-radius: 1rem 1rem 0 0;
}

.menu__accordion:nth-last-child(1) {
  border-radius: 0 0 1rem 1rem;
}

.menu__active,
.menu__accordion:hover {
  background-color: var(--primary);
  color: #fff;
}

.menu__accordion:after {
  content: "\002B";
  color: var(--text-dark);
  font-weight: bold;
  float: right;
  margin-left: 0.5rem;
}

.menu__active:after {
  content: "\2212";
}

.menu__content {
  padding: 0 1rem;
  background-color: var(--bg);
  color: var(--text-dark);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.menu__ul {
  list-style-type: square;
  margin: 1rem 0;
  padding: 0.2rem;
}

.menu__li {
  padding: 0.2rem 0;
}

.menu__link {
  color: var(--text-dark);
}

.hero {
  margin-top: 4rem;
}

.hero__textBox {
  text-align: center;
  margin-bottom: 4rem;
}

.hero__imgBox {
  text-align: center;
}

.hero__heading {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: var(--heading-family);
  color: var(--text-dark);
  text-transform: uppercase;
  word-spacing: 0.3rem;
}

.hero__description {
  font-size: 0.9rem;
  color: var(--text);
  font-weight: 300;
  margin-top: 0.5rem;
}

.hero__image {
  width: 40%;
}

.about {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 4rem;
  padding: 0rem 7rem;
}

.about__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 3rem 0rem;
}

.about__box {
  flex: 1;
  position: relative;
}

.about__box:not(:first-child) {
  margin-left: 1.2rem;
}

.about__textBox {
  padding-left: 1.5rem;
}

.about__heading {
  font-size: 1.125rem;
  font-weight: 700;
  color: #737272;
  text-transform: uppercase;
  font-family: var(--heading-family);
}

.about__main {
  font-size: 2.3rem;
  line-height: 2.8rem;
  margin: 2rem 0rem;
  color: var(--text-dark);
  font-family: var(--heading-family);
}

.about__description {
  font-size: 0.9rem;
  color: var(--text);
  line-height: 2rem;
  border-left: 3px solid var(--bg-line);
  padding-left: 1.5rem;
}

.about__btn {
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-family: var(--heading-family);
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 2rem;
}

.about__link {
  font-size: 1.1rem;
  color: var(--primary);
  font-weight: 400;
}

.about__circle-01,
.about__circle-02,
.about__circle-03 {
  position: absolute;
}

.about__circle-01 {
  right: 0%;
  top: 60%;
  transform: translateY(-60%);
  width: 40%;
}

.about__circle-02 {
  top: 20%;
  left: 35%;
  width: 15%;
}

.about__circle-03 {
  bottom: 5%;
  left: 57%;
  width: 12%;
}

/* Features */
.features {
  width: 100%;
  height: 100%;
  margin-top: 7rem;
  padding: 5rem 7rem;
  clip-path: polygon(0 14%, 100% 0%, 100% 75%, 0% 100%);
  background-image: linear-gradient(180deg, var(--w-bg), var(--w-bg)),
    url(/assets/Img_code_bg.jpg);
  background-position: 0 50%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.general__line {
  width: 20%;
  height: 1px;
  background-color: var(--primary);
  margin: 0.8rem auto;
}

.features__heading {
  font-size: 1.125rem;
  font-weight: 700;
  color: #737272;
  text-transform: uppercase;
  font-family: var(--heading-family);
}

.features__info {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  font-family: var(--heading-family);
}

.features__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 4rem 0rem;
  flex-direction: row;
}

.features__box {
  flex: 1;
  height: 100%;
  margin: 0rem 0.8rem;
  text-align: center;
  padding: 1.2rem;
}

.features__img {
  width: 50%;
}

.features__main {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: var(--text-dark);
  text-transform: capitalize;
  margin-top: 1rem;
  font-family: var(--heading-family);
}

.features__description {
  font-size: 0.9rem;
  color: var(--text);
  line-height: 1.5rem;
  margin-top: 1rem;
}

.U__right {
  margin-top: 7rem;
}

.U__primary__image {
  width: 100%;
}

/* Patron */
.patron {
  margin-top: 4rem;
  padding: 0rem 7rem;
}

/* .patron__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
} */

.patron__box {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 1.2rem;
}

.patron__box:not(:first-child) {
  margin-top: 1.5rem;
}

.patron__roundImage {
  width: 350px;
  height: 350px;
  background-color: rgba(233, 235, 254, 0.97);
  border-radius: 50%;
  margin: 1rem auto;
}

.patron__roundImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.patron__info {
  margin-top: 1rem;
}

.patron__name {
  font-size: 1.6rem;
  color: var(--text-dark);
  font-weight: 700;
  font-family: var(--heading-family);
  margin-bottom: 0.5rem;
}

.patron__title {
  text-transform: uppercase;
  color: var(--text);
  font-weight: 500;
  font-size: 1rem;
}

/* Swipes */
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 5rem;
  background-image: linear-gradient(180deg, var(--w-bg), var(--w-bg)),
    url(/assets/Img_code_bg.jpg);
  background-position: 0 50%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  padding: 0rem 10rem;
  clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);
}

.swiper-slide {
  text-align: center;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper__box {
  position: relative;
  width: 50%;
  height: 50vh;
}

.swiper__header {
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.swiper__heading {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--text-dark);
  font-family: var(--heading-family);
}

.swiper__info {
  font-size: 0.9rem;
  color: var(--text);
  line-height: 2rem;
  margin-top: 1.5rem;
}

.swiper-pagination {
  margin-bottom: 2rem;
}

.swiper-pagination span {
  background-color: var(--primary);
}

.bxs-quote-alt-left,
.bxs-quote-alt-right {
  font-size: 3rem;
  color: var(--primary);
}

.bxs-quote-alt-left {
  position: absolute;
  top: 2%;
  left: 0%;
}

.bxs-quote-alt-right {
  position: absolute;
  bottom: 50%;
  right: -5%;
}

/* Partners */
.partners {
  margin-top: 4rem;
  padding: 0rem 7rem;
  text-align: center;
}

.partners__wrapper {
  position: relative;
}

.partners__heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--text-dark);
  font-family: var(--heading-family);
}

.partners__info {
  font-size: 1rem;
  color: var(--text);
  font-family: var(--heading-family);
  font-weight: 500;
  font-style: italic;
  width: 60%;
  margin: 0rem auto;
  padding-top: 1.8rem;
  line-height: 1.8rem;
}

.w-bracket-rg,
.w-bracket-lg {
  width: 8%;
}

.w-bracket-lg {
  position: absolute;
  top: 0%;
  left: 13%;
}

.w-bracket-rg {
  position: absolute;
  top: 0%;
  right: 13%;
}

.partners__w-cola {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.partners__w-pat {
  flex: 1;
  height: 100%;
  /* background-color: red; */
}

.partners__w-pat:not(:first-child) {
  margin-left: 1rem;
}

.partners__w-pat img {
  width: 100%;
}

/* Footer */
.footer {
  margin-top: 7rem;
  padding: 2rem 0rem;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--footer-bg);
}

.footer__wrapper {
  padding: 2rem 7rem;
  display: flex;
  justify-content: space-between;
}

.footer__box {
  flex: 1;
  height: 100%;
}

.footer__logo {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1.2rem;
  font-family: var(--heading-family);
}

.footer__info {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.5rem;
  width: 80%;
}

.footer__main {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: var(--heading-family);
  text-transform: capitalize;
}

.footer__li:not(:first-child) {
  margin-top: 0.8rem;
}

.footer__link {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.footer__link:hover {
  color: var(--primary);
}

.footer__contact {
  margin-top: 2rem;
}

.footer__number:not(:first-child) {
  margin-top: 1rem;
}

.footer__number .bx {
  font-size: 1.6rem;
  color: #fff;
  margin-right: 0.6rem;
}

.footer__xftre {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
}

.footer__form {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.footer__inputBox {
  flex-basis: 80%;
}

.footer__submitBox {
  flex-basis: 20%;
}

.footer__input {
  width: 100%;
  padding: 0.8rem;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  outline: none;
  color: #fff;
  font-weight: 300;
  font-family: inherit;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}

.footer__input:focus {
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
}

.footer__btn {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--primary);
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-family: inherit;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.footer__copyRight {
  text-align: center;
  margin: 1rem 0rem 0rem 0rem;
}

.footer__copy {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
}

.footer__primary {
  color: var(--primary);
  font-weight: 500;
}

.chatRoom {
  position: fixed;
  bottom: 2%;
  left: 2%;
  z-index: 1000;
  cursor: pointer;
  width: 0%;
  opacity: 0;
  box-shadow: var(--box-shadow);
}

.show__room {
  width: 25%;
  opacity: 1;
}

.chatRoom__icon {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 2%;
  left: 2%;
  z-index: 1000;
  cursor: pointer;
  opacity: 1;
  background-color: var(--primary);
  border-radius: 34px 8px 34px 34px;
  text-align: center;
  padding-top: 0.8rem;
  box-shadow: var(--box-shadow);
}

.close__icon {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
}

.chatRoom__img {
  width: 50%;
}

.chatRoom__card {
  width: 100%;
  height: 80vh;
  background-color: var(--w-bg);
  border-radius: 5px;
}

.chatRoom__header {
  position: relative;
  width: 100%;
  height: 17vh;
  background-color: var(--primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1rem;
}

.chatRoom__notify {
  width: 11%;
}

.chatRoom__header h3 {
  font-size: 1.1rem;
  font-family: var(--heading-family);
  color: #fff;
  margin-top: 0.1rem;
}

.chatRoom__header p {
  font-size: 0.9rem;
  color: #fff;
}

.chatRoom__close {
  width: 7%;
  position: absolute;
  right: 5%;
  top: 10%;
}

.chatRoom__board {
  position: relative;
  width: 95%;
  height: 58vh;
  background-color: var(--bg);
  margin-top: -1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.3rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1.5rem 1rem;
  /* overflow-y: scroll; */
}

.chatRoom__bottom {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.chatRoom__wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
}

.chatRoom__boxLeft {
  flex-basis: 10%;
  height: 100%;
}

.chatRoom__boxRight {
  flex-basis: 75%;
  height: 100%;
  margin-left: 0.9rem;
}

.chatRoom__user {
  font-size: 0.9rem;
  font-family: var(--heading-family);
  margin-bottom: 0.3rem;
  color: var(--text-dark);
}

.chatRoom__message {
  width: 100%;
  height: 100%;
  background-color: var(--w-bg);
  border-radius: 5px;
  padding: 0.8rem;
}

.chatRoom__text {
  font-size: 0.8rem;
  color: var(--text);
  line-height: 1.2rem;
}

.chatRoom__text a {
  color: var(--text);
}

.chatRoom__text:first-child {
  margin-bottom: 0.5rem;
}
.chatRoom__text:last-child {
  margin-top: 0.5rem;
}

.chat__avatar {
  width: 95%;
}

.chatRoom__inputBox {
  flex-basis: 70%;
}

.chatRoom__iconBox {
  flex-basis: 15%;
  padding: 0.8rem;
}

.chatRoom__input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.8rem;
  background-color: transparent;
  padding: 0.8rem;
  font-family: inherit;
  color: var(--text);
}

.chatRoom__input::placeholder {
  font-size: 0.8rem;
  color: var(--text);
}

.chatRoom__label img {
  width: 40%;
  cursor: pointer;
}

.chatRoom__file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.chatRoom__fileName {
  width: 0%;
  height: 0vh;
  opacity: 0;
  background-color: var(--w-bg);
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  justify-content: space-between;
  outline: 2px solid var(--primary);
  padding: 0.8rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.show__fileName {
  width: 100%;
  height: 5vh;
  opacity: 1;
}

.chatRoom__name {
  font-size: 0.8rem;
  font-family: 700;
  font-family: var(--heading-family);
  color: var(--text-dark);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 1rem;
}

.chatRoom__remove {
  font-size: 1.2rem;
  font-family: var(--heading-family);
  color: var(--text-dark);
  font-weight: 700;
  margin-top: -0.4rem;
}

.swipe {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


@media screen and (max-width: 600px), screen and (max-width: 376px) {
  .header {
    padding: 0rem 2rem;
  }

  
  .header__container {
    display: flex;
    justify-content: space-between;
  }
  
  .header__logo {
    font-size: 1.3rem;
  }
  
  .header__box-02 {
    text-align: center;
    display: none;
  }

  .hero {
    margin-top: 2rem;
    padding: 0rem 2rem;
  }
  
  .hero__textBox {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .hero__imgBox {
    text-align: center;
  }
  
  .hero__heading {
    font-size: 2rem;
  }
  
  .hero__description {
    font-size: 0.9rem;
  }
  
  .hero__image {
    width: 95%;
  }
  
  .about {
    margin-top: -5rem;
    padding: 0rem 2rem;
  }
  
  .about__wrapper {
    justify-content: space-between;
    flex-direction: column;
    padding: 3rem 0rem;
  }
  
  .about__box {
    flex: 1;
    position: relative;
  }
  
  .about__box:not(:first-child) {
    margin-top: 4rem;
  }
  
  .about__textBox {
    padding-left: 1rem;
  }
  
  .about__main {
    font-size: 2rem;
    line-height: 3rem;
  }

  .about__circle-01 {
    right: 0%;
    top: 100%;
    transform: translateY(0);
    width: 45%;
  }
  
  .about__circle-02 {
    bottom: 0%;
    left: 10%;
    width: 15%;
  }
  
  .about__circle-03 {
    bottom: 0%;
    left: 57%;
    width: 12%;
  }

  .wg-left {
    padding-left: -5rem;
  }

  .features {
    padding: 7rem 2rem 6rem 2rem;
    margin-bottom: 4rem;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  }
  

  .features__info {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
    font-family: var(--heading-family);
  }
  
  .features__wrapper {
    margin: 4rem 0rem;
    flex-direction: column;
  }
  
  .features__box {
    flex: 1;
    height: 100%;
    margin: 1rem 0rem;
  }
  
  .features__img {
    width: 50%;
  }
  
  .features__main {
    font-size: 1.5rem;
  }

  
  /* Patron */
  .patron {
    margin-top: 2rem;
    padding: 0rem 2rem;
  }
  
  /* .patron__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
  } */
  
  .patron__box:not(:first-child) {
    margin-left: 2rem;
  }
  
  .patron__roundImage {
    width: 300px;
    height: 300px;
    background-color: rgba(233, 235, 254, 0.97);
    border-radius: 50%;
    margin: 1rem auto;
  }
  
  .patron__roundImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .patron__info {
    margin-top: 1rem;
  }
  
  .patron__name {
    font-size: 1.6rem;
    color: var(--text-dark);
    font-weight: 700;
    font-family: var(--heading-family);
    margin-bottom: 0.5rem;
  }
  
  .patron__title {
    text-transform: uppercase;
    color: var(--text);
    font-weight: 500;
    font-size: 1rem;
  }

  /* Swipes */
  .swiper {
    width: 100%;
    height: 100%;
    padding: 0rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
  }
  .swiper__box {
    position: relative;
    width: 90%;
    height: 100%;
  }

  .swiper__header {
    margin-bottom: 3rem;
    margin-top: 1.5rem;
  }

  .swiper__heading {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-dark);
  }

  .bxs-quote-alt-left,
  .bxs-quote-alt-right {
    font-size: 2rem;
    color: var(--primary);
  }

  .bxs-quote-alt-left {
    position: absolute;
    top: 2%;
    left: 0%;
  }

  .bxs-quote-alt-right {
    position: absolute;
    bottom: 2%;
    right: 0%;
  }

.partners {
  margin-top: 2rem;
  padding: 0rem 2rem;
  text-align: left;
}

.partners__wrapper {
  position: relative;
}

.partners__heading {
  font-size: 2rem;
  text-align: center;
}

.partners__info {
  width: 80%;
  margin: 0rem auto;
}

.w-bracket-rg,
.w-bracket-lg {
  width: 13%;
}

.w-bracket-lg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5%;
}

.w-bracket-rg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5%;
}

.partners__w-cola {
  flex-direction: column;
}

.partners__w-pat {
  flex: 1;
  height: 100%;
  text-align: center;
  /* background-color: red; */
}

.partners__w-pat:not(:first-child) {
  margin-top: 1rem;
}

.partners__w-pat img {
  width: 80%;
}

  /* Footer */
  .footer {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .footer__wrapper {
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer__box {
    flex: 1;
    height: 100%;
  }

  .footer__box:not(:first-child) {
    margin-top: 2rem;
  }

  .footer__logo {
    font-size: 1.8rem;
  }

  .footer__info {
    font-size: 0.9rem;
    width: 100%;
  }

  .footer__main {
    font-size: 1.8rem;
  }

  .footer__link {
    font-size: 0.9rem;
  }

  .footer__xftre {
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
  }

  .footer__input {
    width: 100%;
    padding: 0.7rem;
    font-size: 0.7rem;
  }

  .footer__btn {
    width: 100%;
    padding: 0.7rem;
    font-size: 0.7rem;
  }

  .footer__copy {
    font-size: 0.7rem;
  }
}